body {
    background-color: #34353c;
    font-family: 'Common Pixel', sans-serif;
}

.dog-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
    color: #a18d2b;
}

footer {
    padding-top: 8rem;
    font-family: Arial, Helvetica, sans-serif;
}